@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210deg 9% 95%;
  --content: 0deg 0% 11%;
  --primary: 60deg 1% 65%;
  --secondary: 0deg 0% 21%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0deg 0% 10%;
    --content: 0deg 0% 40%;
    --primary: 210deg 29% 24%;
    --secondary: 60deg 1% 65%;
  }
}
