@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 0deg 0% 0%;
  --purple: 321deg 74% 24%;
  --orange: 349deg 62% 42%;
  --content-primary: 0deg 0% 100%;
  --content-secondary: 220deg 13% 95%;
  --content-tertiary: 210deg 29% 70%;
  --color-text-primary: 0deg 0% 37%;
  --color-text--secondary: 0deg 0% 37%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --top: 321deg 97% 15%;
    --middle: 324deg 97% 19%;
    --bottom: 355deg 65% 39%;
    --gray: 0deg 0% 5%;
    --purple: 321deg 74% 24%;
    --orange: 349deg 62% 42%;
    --content-primary: 200deg 6% 10%;
    --content-secondary: 195deg 6% 13%;
    --content-tertiary: 210deg 29% 70%;
    --color-text-primary: 36deg 10% 70%;
    --color-text--secondary: 36deg 10% 90%;
  }
}

body {
  background: linear-gradient(to bottom, hsl(var(--top)), hsl(var(--middle)), hsl(var(--bottom)));
}

footer {
  background: hsla(var(--background-black));
}

@font-face {
 font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe UI Regular'), url('/Segoe UI.woff') format('woff');
}

@font-face {
 font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Segoe UI Bold'), url('/Segoe UI Bold.woff') format('woff');
}
