@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210deg 9% 95%;
  --content: 0deg 0% 11%;
  --primary: 60deg 1% 65%;
  --secondary: 0deg 0% 21%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 210deg 0% 12%;
    --content: 0deg 0% 95%;
    --primary: 0deg 0% 21%;
    --secondary: 60deg 1% 65%;
  }
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}
